@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pathway+Gothic+One&family=Poppins:wght@200;400&family=Righteous&family=Roboto:wght@700&family=Rock+Salt&family=Sacramento&family=Sora:wght@100;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --blue: #4b53e4;
  --darkblue: #221660;
  --orange: #f7a915;
  --green: #30b47a;
  --red: #ff5841;
  --white: #f6f6f6;
  --lblack: #34374c;
  --black: #2c2e3e;
  --box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  --box-shadow-lg: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* --fonts-head: 2rem;
  --fonts-body: 1.3rem;
  --fonts-header: 3rem;
  --fonts-header-text: 1.5rem; */
  --font-cursive: "Kaushan Script", cursive;
  --font-header: "Poppins", sans-serif;
  --font-body: "Poppins", sans-serif;
  --font-logo: "Rock Salt", cursive;
  --font-head: "Sora", sans-serif;
}

.btn {
  padding: 14px 32px;
  border: none;
  outline: none;
  border-radius: 15px;
  font-size: 1rem;
  color: var(--black);
  font-family: var(--font-body);
  background-color: var(--white);
}

hr {
  border: none;
  border-top: solid var(--blue);
  width: 100%;
  height: 2px;
}

.landing_img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: -1;
}
header {
  margin-bottom: 2rem;
}
header .circle {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  border-radius: 0 0 70% 40%;
  display: none;
  background-color: var(--blue);
  box-shadow: var(--box-shadow-lg);
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  min-height: 80vh;
  width: 50%;
  margin: 2rem 0;
  margin-bottom: 6rem;
}
.heading {
  color: var(--white);
  font-family: var(--fonts-header-text);
  font-size: 1.5rem;
  flex-basis: 100%;
}
.heading h1 {
  font-family: var(--font-header);
  font-size: 3rem;
}
.heading button {
  margin-top: 20px;
  box-shadow: var(--box-shadow);
  transition: 0.3s ease-out;
}
.heading button:hover {
  background-color: var(--blue);
  color: var(--white);
}
nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.3rem;
  margin-bottom: 5rem;
  z-index: 999;
}
nav .logo a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--white);
  font-family: var(--font-logo);
}
nav .nav-links ul li {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.4rem;
  font-family: var(--font-head);
}
nav .nav-links ul li a {
  text-decoration: none;
  color: var(--lblack);
}
nav .nav-links ul li a:hover,
nav .nav-links ul li a:active,
nav .nav-links ul li a:focus {
  color: black;
  outline: none;
}
.nav-toggler {
  cursor: pointer;
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--blue);
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  width: 28px;
  height: 30px;
  border-radius: 4px;
  padding: 2px;
  z-index: 9999;
}
.nav-toggler span {
  background-color: var(--white);
  width: 100%;
  padding: 1.5px 1px;
  height: 2px;
  border-radius: 15px;
  transition: 0.4s ease-in;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#services p {
  font-size: 1.2rem;
  font-family: var(--font-body);
  width: 80%;
}

#services div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
#services div:nth-child(even) {
  flex-direction: row-reverse;
}
#services div div {
  flex-basis: 50%;
}
#services div div img {
  width: 100%;
}

@media only screen and (max-width: 984px) {
  .heading {
    color: var(--black);
    text-align: center;

    padding: 0.1rem;
  }
  .hero {
    margin: 0.5rem auto;
    width: 100%;
  }
  .landing_img {
    display: none;
  }
  header .circle {
    display: block;
  }
  nav .nav-links {
    background-color: var(--blue);

    width: 45%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: -50%;
    transition: 0.5s ease-in;
  }
  nav .nav-links ul {
    padding-top: 2rem;
  }
  nav .nav-links ul li {
    display: block;
    padding: 15px;
    text-align: left;
  }
  nav .nav-links ul li a {
    color: var(--white);
  }
  nav .nav-links ul li a:hover,
  nav .nav-links ul li a:active,
  nav .nav-links ul li a:focus {
    color: var(--white);
  }
  .nav-toggler {
    display: flex;
  }
}
@media only screen and (max-width: 770px) {
  #services div {
    flex-direction: column;
  }
  #services div:nth-child(even) {
    flex-direction: column;
  }
  #services div div {
    flex-basis: 100%;
    padding: 1rem;
  }
  #services div div img {
    width: 60%;
  }
  #services p {
    font-size: 1rem;

    width: 90%;
  }
}
/* @media only screen and (max-width: 427) {
  .hero .heading {
    font-size: 1.2rem;
  }
  .hero .heading h1 {
    font-size: 1.5rem;
  }
} */
